.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;

    
}
.main-row{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.main-col{
width: 100%;

min-height: 40rem;
}
.bg-primary-1{
    background-color: var(--color-primary-1);
}
.bg-secondary-1{
    background-color: var(--color-secondary-1);
}
.bg-contrast-1{
    background-color: var(--color-contrast-1);
}
.bg-contrast-2{
    background-color: var(--color-contrast-2);
}

.text-content{
    color: var(--white);
    font-family: var(--main-font-family);
    font-weight: 300;
    font-size: var(--size-400);
}

.text-title-1{
    color: var(--white);
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: var(--size-600);
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}